html,body {
    background-color: rgb(226, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% 100%;
    color:black;
    margin:0;
    padding:0;
}

header {
    background-color: rgb(44, 99, 202);
    color:rgb(255, 255, 255);
    position: fixed;
    width:100%;
    top:0;
    left:0;
}

.header-image {
    display: flex;
    align-items: center;
}

.header-nav-toggle {
    font-size:20px;
    margin: 0 4% 0 4%;
}

.logo {
    padding:0 0% 2% 6%;
}

.header-nav {
    padding:0 0% 2% 4%;
    font-size:14px;
}

.header-nav-link {
    cursor:pointer;
    padding:0.5%;
}

.header-nav-link a {
    text-decoration: none;
    color:white;
}

.header-nav-link a:active {
    color:rgb(113, 139, 187);
}

.padding-right-4 {
    padding-right: 4px;
}

.padding-right-5 {
    padding-right: 5px;
}

nav {
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 18px;
}

nav ul {
    padding-left:15px;
}

nav ul li {
    list-style-type: none;
    padding-bottom:8px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
}

.sub-nav {
    padding-top: 5px;
    font-size:16px;
    padding-left:25px;
}

.sub-nav li {
    padding-bottom:8px;
}

#overlay {
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

/* to do - calculate dynamically */
.breadcrumb {
    margin-top:0;
    color: rgb(44, 99, 202);
}

.container-header, .item-container, .breadcrumb, .item-overview, .item-review  {
    margin-left:2%;
}

.item {
    background-color: white;
    margin: 0 2% 2% 0;
    cursor: pointer;
} 

.item img {
    width:96%;
    height: 250px;
    padding:2%
}

.item span {
    text-align: center;
    color:rgb(229,31,11);
    display:block;
}

.item span a {
    cursor: pointer;
}

.item span a:hover{
    text-decoration: underline;
}

.text-bold {
    font-size: 1.3em;
    font-weight: bold;
}

.text-light {
    font-size: 0.8em;
    font-weight: light;
}

.item-name {
    font-size: 30px;
    font-weight:600;
    margin-top:1.5%;
    margin-bottom: 0.3%;

}

.item-rating {
    font-size:12px;
    color:rgb(44, 99, 202);
}

.item-image-series {
    margin-top:6%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.item-image {
    width:80%;
}

.line-spacing {
    margin:2% 0%;
}

.item-overall-rating {
    font-size:40px;
    font-weight: 800;
}

.review-summary {
    font-size:20px;
    font-weight: 600;
}

.review-user {
    font-size:12px;
}

.item-main {
    background-color: white !important;
}

.line-width-50 {
    width:50%;
}

.category-item {
    height:220px;
    background-color: white; 
    margin: 0 2% 2% 0;
    background-size:cover;
    cursor: pointer;
}

.category-item div {
    color: white;
    font-weight:700;
    font-size:30px;
    padding : 175px 0 10px 10px;
}

footer {
    width:100%;
    clear: both;
    background-color: rgb(44, 99, 202);
}

footer p {
    padding: 1% 0;
    color: white;
    text-align: center;
}

[class*="col-"] {
    width: 100%;
}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .header-nav {
        padding:0 0% 2% 4%;
        font-size:16px;
    }

    .item-image-series {
        margin-top:4%;
    }

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    header {
        display:flex;
    }
 
    .header-image {
        padding:0%;
    }

    .header-nav {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding:0%;
        font-size:16px;
    }

    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    .item {
        width:40%;
    }

    .item-image-series {
        margin-top:2%;
    }

    .category-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    .category-item {
        width:40%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    header {
        display:flex;
    }
 
    .header-image {
        padding:0%;
    }

    .header-nav {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding:0%;
        font-size:18px;
    }

    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    
    .item {
        width:28%;
    }

    .item-image-series {
        margin-top:2%;
    }

    .category-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    .category-item {
        width:28%;
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
    
    header {
        display:flex;
    }
 
    .header-image {
        padding:0%;
    }

    .header-nav {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding:0%;
        font-size:18px;
    }

    .container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    
    .item {
        width:28%;
    }

    .item-image-series {
        margin-top:2%;
    }

    .category-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    
    .category-item {
        width:28%;
    }
}

